{% extends 'base.html.twig' %}

{% block body %}
    <h1>Organisation</h1>

    <table>
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ organisation.id }}</td>
            </tr>
            <tr>
                <th>Nom</th>
                <td>{{ organisation.nom }}</td>
            </tr>
            <tr>
                <th>Tel</th>
                <td>{{ organisation.tel }}</td>
            </tr>
            <tr>
                <th>Email</th>
                <td>{{ organisation.email }}</td>
            </tr>
            <tr>
                <th>Siteweb</th>
                <td>{{ organisation.siteweb }}</td>
            </tr>
            <tr>
                <th>Secteur</th>
                <td>{{ organisation.secteur }}</td>
            </tr>
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('organisation_index') }}">Back to the list</a>
        </li>
        <li>
            <a href="{{ path('organisation_edit', { 'id': organisation.id }) }}">Edit</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
                <input type="submit" value="Delete">
            {{ form_end(delete_form) }}
        </li>
    </ul>
{% endblock %}
