{% extends 'base.html.twig' %}
{% block title %}
    Creation d'un Produit
{% endblock %}

{% block body %}
    <div id="wrapper" xmlns="http://www.w3.org/1999/html">

        {{ include('modulesUsed/menu.html.twig') }}

        <div id="page-wrapper">
            <div class="row">
                <div class="col-lg-12">
                    <h1 class="page-header">Création d'un Produit</h1>
                </div>
                <!-- /.col-lg-12 -->
            </div>
            <!-- /.row -->
            <div class="row">
                <div class="col-lg-12">
                    {% form_theme form 'bootstrap_3_layout.html.twig' %}
                    {{ form_start(form) }}
                    {{ form_widget(form) }}
                    <table class="table">
                        <th>
                            <input class="btn btn-primary" type="submit" value="+ Créer" />
                            {{ form_end(form) }}
                        </th>
                        <td>
                            <a type="button" class="btn btn-success" href="{{ path('produit_index') }}">
                                <i class="fa fa-angle-double-left"></i>
                                Liste des Produits</a>
                        </td>
                    </table>
                </div>
                <!-- /.col-lg-12 -->
            </div>
        </div>
        <!-- /#page-wrapper -->
    </div>
{% endblock %}